

.categoryContainer {
  width: 1146px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  /* max-width: 100%; */
  box-sizing: border-box;

  /* Auto Layout */
  align-items: flex-start;
  padding: 0px;
}

.categoryContainer.mobile {
  width:100%;
  padding: 0 20px;
}